 <div class="modal-content" id="view_my_booking">

    <!-- Modal Header -->
    <div class="modal-header" style="background-color: azure;">
        <button type="button" class="close" 
           data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            Booking Summary
        </h4>
    </div>
    
    <!-- Modal Body -->
    <div class="modal-body" style="background-color: azure;">
        <span>Booking Number: {{reservation.tracking_number}}</span><br/>
        <span>Room Type: {{reservation.room_type}}</span><br/>
        <span>Room Number: {{reservation.room_number}}</span><br/>
        <span>Check in Date: {{reservation.checK_in}}</span><br/>
        <span>Check out Date: {{reservation.checK_out}}</span><br/>
        <span>Number of Days: {{reservation.days}}</span><br/>
        <span>Amount: ₦{{reservation.amount_paid}}</span><br/>
        <span>Payment Reference Number: {{reservation.ref_num}}</span><br/>
        <span>Status: {{reservation.status}}</span><br/>
        
	</div>
    
    <!-- Modal Footer -->
    <div class="modal-footer" style="background-color: azure;">
       
    </div>

</div>